* {
	box-sizing: border-box;
}

/* HEADER */

body {
  background: url(../img/bg.png) no-repeat top center;
  background-size: cover;
  font-family: Verdana;
}

.main-wrapper {
  width: 1064px;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
}

.header-left {
  display: inline-block;
}

.header-left_logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 900;
}

.header-left_cathedral {
  vertical-align: middle;
    display: inline;
}

.milan-holidays {
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
}

.milan,
.holidays {
  display: block;
}

.milan {
  line-height: 1.5em;
}

.header-right {
  margin: auto 0;
  float: right;
  text-align: right;
}

.header-right-link {
  padding-top: 4px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* CONTENT */

.content {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: block;
  position: relative;
  text-align: center;
}

.card-img-wrap {
  display: block;
}

.card-img {
  display: block;
  border-left-width: 3px;
  border-left-style: solid;
  border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
  border-right-width: 3px;
  border-right-style: solid;
  border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: white;
  vertical-align: middle;
}

.card-txt {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px 0;
}

.cost {
  background-color: #f26522;
  padding: 16px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 56px;
  display: none;
  z-index: 1;
}

.cost-left {
  color: white;
}

.from {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
}

.euro {
  font-size: 20px;
  font-weight: 500;
}

.cost-right {
  font-size: 14px;
  margin: auto 0 0 auto;
  color: white;
  text-decoration: none;
}

.cost-right::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
}

/* FOOTER */

.footer {
  margin-top: 57px;
  padding-bottom: 20px;
}

.footer-text {
  text-align: center;
  color: white;
  font-size: 12px;
}

/* HOVER EFFECTS */

.header-left_logo:hover {
  color: #f26522;
}

.header-left_logo:hover .header-left_cathedral {
  filter: invert(53%) sepia(100%) saturate(3209%) hue-rotate(349deg) brightness(99%) contrast(92%);
}

.card-txt:hover {
  color: #f26522;
}

.card-img-wrap:hover ~ .card-txt {
  color: #f26522;
}

.card-img-wrap:hover ~ .cost {
  display: flex;
}

.card-txt:hover ~ .cost {
  display: flex;
}
