body {
    background-color: black;
    color: gold;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    overflow: hidden;
}

.title,
.subtitle {
    text-align: center;
}

.wrap {
    width: 750px;
    margin: 0 auto;
    transform: translateY(-300px) perspective(250px) rotateX(25deg);
}

.text {
    animation-name: scroll;
    animation-duration: 30s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes scroll {
    0% {
        transform: translateY(775px);
    }

    100% {
        transform: translateY(-1500px);
    }
}
