@font-face {
  font-family: Arimo;
  src:
  	url(fonts/Arimo.woff),
  	url(fonts/Arimo.woff2),
  	url(fonts/Arimo.eot),
  	url(fonts/Arimo.svg),
  	url(fonts/Arimo.ttf);
}

* {
	box-sizing: border-box;
}

.myTable {
	text-align: center;
	border: 24px solid #3a4965;
	margin: 0 auto;
	color: #484848;
	font-family: Arimo, sans-serif;
}

.myTable_cell {
	padding: 17px 27px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.corner {
	vertical-align: middle;
}

.cta {
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.cta_bigger {
	font-size: 30px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.myTable_header-plan {
	color: white;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.myTable_header-green {
	background-color: #89c331;
}

.myTable_header-red {
	background-color: #f04a56;
}

.myTable_header-teal {
	background-color: #20807c;
}

.smallTable_cell-left {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: bottom;
}

.smallTable_cell-right-top {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

.smallTable_cell-right-bottom {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.myTable_body {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.myTable_body-row:nth-child(even) {
	background-color: #e3e3e3;
}

.icon {
	margin-right: 5px;
}

.myTable_cell_footer:nth-child(even) {
 background-color: #eeeeee;
}

.myTable_cell_footer:nth-child(3) {
 background-color: #f4f4f4;
}

.contact {
	background-color: #dddddd;
}

.btn {
	border: none;
	border-bottom: 9px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: #484848;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	width: 192px;
	height: 51px;
}

.btn-black {
	background-color: #484848;
}

.btn-green {
	background-color: #89c331;
}

.btn-red {
	background-color: #f04a56;
}

.btn-teal {
	background-color: #20807c;
}

.btn:hover {
	transform: translateY(-3px);
}