* {
	box-sizing: border-box;
}

body {
	background: url(../img/bg.png) no-repeat 0 0;
	background-size: cover;
}

.wrapper {
	width: 1210px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.header {
	background-color: rgba(0, 0, 0, 0.41);
	padding: 16px 0;
}

.header-left_logo-link {
	display: block;
	color: white;
	font-family: Verdana;
	font-size: 20px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	text-decoration: none;
}

.header-left_logo-link:hover {
	color: #3cb878;
	transition: color 1s ease-in-out;
}

.header-right {
	display: flex;
	flex-direction: row;
}

.header-right_icons {
	display: inline-block;
}

.header-right_icon {
	display: inline-block;
	margin: 0 11px;
}

.calendar {
	width: 19px;
	height: 19px;
	background: url(../img/sprite.png) no-repeat 0px -1px;
}

.forum {
	width: 28px;
	height: 20px;
	background: url(../img/sprite.png) no-repeat -47px 0px;
}

.journey {
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) no-repeat -104px 0px;
	margin-right: 0;
}

.header-right_icon:hover {
	filter: invert(58%) sepia(65%) saturate(441%) hue-rotate(98deg) brightness(93%) contrast(88%);
	transition: filter 1s ease-in-out;
}

.header-right_greeting {
	margin-left: 45px;
	vertical-align: top;
}

.header-right_greeting::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 19px;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	left: -20px;
	top: 0px;
}

.header-right_greeting_link {
	color: white;
	font-family: Verdana;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-decoration: none;
	position: relative;
	bottom: 4px;
}

.green-text {
	color: #3cb878;
	text-decoration: underline;
	text-decoration-color: transparent;
}

.green-text:hover {
	text-decoration-color: #3cb878;
	transition: text-decoration-color 1s ease-in-out;
}

.no-underline:hover {
	text-decoration: none;
}

/* header ends */

.form {
	width: 444px;
	background-color: white;
	border-radius: 10px;
	padding: 30px 60px;
	margin: 65px auto;
}

.form-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.form-top_text {
	text-align: center;
	display: block;
	font-family: Verdana;
	font-size: 20px;
	line-height: 21px;
}

.form-social_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-social_button {
	border: none;
	border-radius: 3px;
	color: white;
	font-family: Verdana;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 157px;
	height: 46px;
}

.btn_letternig::before {
	content: '';
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	width: 1px;
	height: 18px;
	position: relative;
	top: 2px;
	right: 12px;
}

.facebook_btn {
	background-color: #305db8;
}

.google_btn {
	background-color: #df4a32;
}

.facebook_btn:hover {
	background-color: #103d98;
	transition: background-color 1s ease-in-out;
}

.google_btn:hover {
	background-color: #bf2a12;
	transition: background-color 1s ease-in-out;
}

.break {
	display: block;
	text-align: center;
	margin: 33px 0;
}

.break_h {
	font-family: Verdana;
	display: table;
  white-space: nowrap;	
}

.break_h:before,
.break_h:after {
  border-top: 1px solid #eaeaea;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 50%;
}

.break_h:before {
  right: 1.5%;
}

.break_h:after {
  left: 1.5%;
}

.form-main_input {
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 18px;
	text-align: left;
}

.form-main_input::placeholder {
	color: #bebebe;
}

.form-main_input-checkbox {
	-webkit-appearance: none;
	display: none;
}

.checkbox-label {
	font-family: Verdana;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	position: relative;
	margin-top: 15px;
}

.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.checkbox-label::after {
	font-family: "Font Awesome 5 Free";
	content: '\f00c';
	position: absolute;
	left: 2px;
	bottom: -2px;
	font-size: 18px;
	font-weight: 700;
	color: #3cb878;
	opacity: 0;
}

.form-main_input-checkbox:checked + .checkbox-label::after {
    opacity: 1;
}

.form-main_input-button {
	margin-top: 25px;
	color: white;
	background-color: #3cb878;
	border-radius: 3px;
	font-family: Verdana;
	text-align: center;
}

.form-main_input-button:hover {
	background-color: #1c9858;
	transition: background-color 1s ease-in-out;
}

.form-main_input-field {
	outline: none;
}

.form-main_input-button,
.form-social_button {
	cursor: pointer;
}

.green-square {
	background-color: #3cb878;
	width: 18px;
	height: 18px;
	position: relative;
	right: 60px;
	top: 22px;
}

.form-main_input-field:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}