body * {
	box-sizing: border-box;
}

.main-wrapper {
	width: 1280px;
	margin: 0 auto;
}

/* header */

.main-logo {
	margin-top: 60px;
}

.main-logo_text {
	font-family: ﻿AdobeInvisFont, sans-serif;
	font-size: 80px;
	text-decoration: none;
	color: black;
}

.blue-text {
	color: #00cbff;
}

/* top menu */

.main-menu {
	background-color: #29424e;
	padding: 27px 0 26px;
	margin-top: 50px;
}

.main-menu_items {
	text-align: center;
}

.main-menu_item {
	box-sizing: border-box;
	font-family: ﻿AdobeInvisFont, sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: 25px 40px;
}

.main-menu_item:hover {
	background-color: #142b38;
	border-left: 1px solid tan;
	border-right: 1px solid #828282;
}

/* content */

.main-content {
	margin: 50px 0;
}

.main-content_left {
	width: 344px;
 	display: inline-block;
 	border: 1px solid #29424e;
}

.main-content_list_item-link {
	padding: 28px 44px;
	display: block;
	text-decoration: none;
	color: #405763;
	font-family: ﻿AdobeInvisFont, sans-serif;
	font-size: 30px;
}

.main-content_list li:hover {
	background-color: #dbdbdb;
	padding-left: 14px;
}

.main-content_right {
	display: inline-block;
	vertical-align: top;
	width: 885px;
	margin-left: 47px;
}

.image-container {
	display: inline-block;
	border: 1px solid #29424e;
	width: 100%;
	text-align: center;
}

.logo {
	display: block;
	margin: 73px auto;
}

.logo:hover {
	animation: zoom 1s forwards;
}

@keyframes zoom {
	to {
		transform: scale(1.2);
	}
}

.main_content_text {
	padding-top: 50px;
	width: 820px;
	margin: 0 auto;
	font-family: ﻿AdobeInvisFont, sans-serif;
	letter-spacing: 0;
	font-size: 16px;
}

.main_content_text p {
	margin-bottom: 30px;
}

/* footer */

.footer {
	background-color: #b4b7ba;
}

.footer-left {
	display: inline-block;
}

.footer-right {
	display: inline-block;
	margin-left: 220px;
}

.footer-left_list {
	padding: 23px 44px 27px ;
}

.footer-left_list-item {
	display: inline;
	margin: 0 25px;
}

.footer-left_list-link {
	font-family: ﻿AdobeInvisFont, sans-serif;
	font-size: 20px;
	color: #001223;
	text-decoration: none;
}

.footer-left_list-link:hover {
	color: #0082a9;
	text-decoration: underline;
}