body {
	background-color: #f5f6f7;
}

body, .heading, .paragraph1, .paragraph2 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header, .content {
	text-align: center;
}

.header-menu {	
	margin: 32px auto;
}

.header-menu-item {
	color: #16a085;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0 36px;
}

.content {
	padding-bottom: 47px;
}

.image {
	width: 100%;
}

.heading {
	color: #373737;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	padding: 56px 0 35px;
}

.paragraphs {
	width: 1060px;
	margin: 0 auto;
	color: #373737;
	font-family: Lato;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
}

.paragraph1 {
	text-indent: 48px;
}

.paragraph2 {
	text-indent: 13px;
	margin: 36px 0 42px 0;
}

.button {
	display: block;
	margin: 0 auto;
	color: rgba(255, 255, 255, 1);
	background-color: #16a082;
	border: none;
	border-radius: 3px;
	font-family: Lato;
	font-size: 12pt;
	text-transform: uppercase;
	padding: 23px 43px;
	cursor: pointer;

}

.footer {
	background-color: white;
	padding: 47px 0 45px;
}

.footer * {
	display: inline-block;
}

.footer-left {
	padding-left: 107px;
}

.footer-right {
	float: right;
	padding-right: 107px;
}

.footer-menu-item {
	color: #373737;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Lato;
	font-weight: bold;
	letter-spacing: 1px;
}

.vbar {
	color: #16a082;
}

.copyright {
	color: rgba(55, 55, 55, 1);
	font-family: Lato;
	font-size: 18px;
	letter-spacing: 1px;
}